//

@use 'bootstrap';


/* variables */

$brand_color: #0382f9;
$footer_bg_color: #303030;

/* common */

a{
    text-decoration: none;
}

/* header */

.top_header{
    background-color: $brand_color;
    color: white;
    p{
        font-size: 0.7rem;
        margin: 0;
        padding: 0.5rem 0;
    }
}

.bottom_header{
    .row{
        flex-wrap: nowrap;
        nav{
            flex-wrap: nowrap;
            a{
                color: black;
                text-decoration: none;
                padding: 2rem .2rem;
                margin: 0 0.5rem;
                border-bottom: 4px solid white;
                
                &:hover{
                    color: $brand_color;
                    border-bottom: 4px solid #0382f9;
                }
                &.active{
                    color: $brand_color;
                    border-bottom: 4px solid #0382f9;
                }
            }
        }
        input{
            text-align: right;
            border-style: hidden;
            border-bottom: 2px solid $brand_color;
        }
    }
}

/* main */
main{
    background-color: #1c1c1c;
    color: white;

    .jumbo{
        height: 400px;
        background-image: url('../img/jumbotron.jpg');
        background-position: top;
        background-repeat: no-repeat;
    }

    .container{
        position: relative;

        .title{
            position: absolute;
            left: 0;
            top: -40px;
            h1{
                font-size: 2rem;
                width: fit-content;
                background-color: $brand_color;
                padding: 1rem 3rem;
            }
        }
        .card{
            border: none !important;
            background-color: transparent;
            color: white;
    
            img{
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
        .load_more{
            button{
                background-color: $brand_color;
                border: none;
                color: white;
                padding: 1rem 5rem;
            }
        }
    }
}

/* banner */
.banner{
    background-color: $brand_color;
    padding: 2rem;
    .item{
        p{
            color: white;
            margin: 0 1rem ;
        }
    }
}

/* single comic */

.blue_bg_long{
    width: 100%;
    height: 100px;
    background-color: $brand_color;
    position: relative;

    img{

        position: absolute;
        left: 3rem;
        top: -240px;
    }
}

.info_buy{
    background-color: white;
    color: black;

    .title_comic{
        h1{
            font-size: 36px;
        }
    }

    .price{
        width: 100%;
        height: 50px;
        background-color: #55ba59;
        margin: 1.5rem 0;

        p{
            margin-bottom: 0;
        }

        .available{
            width: 100%;
            height: 100%;
            border-right: 1px solid gray;
            color: #b0f78a;

            span{
                color: white;
            }
        }

        .check{
            width: 30%;
            height: 100%;
            color: white;
        }
    }

    .img_wrapper{
        width: 100%;
        text-align: right;
    }
}

.gray_bg{
    background-color: #f6f6f6;
    color: black;

    .details{
        padding-bottom: 100px;
        h4{
            padding: 1rem 0;
            margin-bottom: 0;
            border-bottom: 1px solid gray;
        }
        .det{
            border-bottom: 1px solid gray;
            padding: .5rem 0;

            p, span{
                font-size: .8rem;
            }

            p{
                min-width: 30%;
                margin-bottom: 0;
            }

                .blue_text{
                    color: $brand_color;
                }

        }
    }
}



/* footer */
#site_footer{
    .top_footer{
        background-image: url('../img/footer-bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .logo_footer{
            background-image: url('../img/dc-logo-bg.png');
            background-position: center;
            background-repeat: no-repeat;
        }
        .row{
            margin: 0;
            .contacts_footer{
                padding: 2rem 0;
                .menu_wrapper{
                    h4{
                        color: white;
                    }
                    li{
                        a{
                            text-decoration: none;
                            color: gray;
                            font-size: 0.8rem;
        
        
                            &:hover{
                                text-decoration: underline;
                                color: $brand_color;
                            }
                        }
                    }
                }
                .copyright{
                    color: gray;
                    font-size: .8rem;
                    .copy_blue{
                        color: $brand_color;
                    }
                }
            }
        }
    }
    .bottom_footer{
        background-color: $footer_bg_color;
        .row{
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            
            button{
                background-color: transparent;
                border: 1px solid $brand_color;
                color: white;
                padding: 1rem;
            }
            .socials{
                justify-content: end;
                align-items: center;
                h4{
                    color: $brand_color;
                    margin: 0 .5rem 0;
                }
                .social_icon{
                    margin: 0 .5rem;
                }
            }
        }
    }
}